[defaults]
inventory          = inventory/hosts.ini
host_key_checking  = False
retry_files_enabled = False
stdout_callback = default
timeout            = 60

# Speed up with pipelining (Linux only)
[ssh_connection]
pipelining = True
ssh_args = -o ProxyJump=kali@100.65.5.35

[winrm]
# WinRM connection options for Windows hosts
transport = basic
